<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        nav ul
        {
            display: block;
        }
        ul li
        {
            display: inline-block;
            border: 2px solid black;
            border-radius: 4px;
            margin: 5px 15px;
            padding: 10px 10px;
            background-color: lightgrey;
            
        } 
        a {
            text-decoration: none;
            color: rgb(131, 128, 128);
            letter-spacing: 1px;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="register">Register</a></li>
        </ul>
    </nav>
    <h1>WELCOME TO HOME PAGE</h1>
</body>
</html>